# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Git
.git/

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log